extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let journeyid = toShow._id
    - let destination = toShow.destination
    - let cost = toShow.cost
    - let seasons = toShow.seasons
    
    .container
      div.row(class='mb-4')
        div.col ID is:
          div(class='font-weight-bold') #{journeyid}

    - let actionid = "/resource/journey/" + journeyid

    form(id='journeyForm', action=actionid, method="POST") 
      .form-group
        label.journeyAttr(for='destination') journey destination
        input#destination.form-control(type='text', name='destination', value=destination)

      .form-group
        label.journeyAttr(for='seasons') journey seasons
        input#seasons.form-control(type='text', name='seasons', value=seasons)

      .form-group
        label.journeyAttr(for='cost') journey cost
        input#cost.form-control(type='number', name='cost', value=cost)
        button.btn.btn-primary(type="submit") Update 

  script.
    document.forms['journeyForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'PUT', // Change this to PUT if your server supports it; otherwise, use POST
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeeded");
        // TODO handle the response body
      }).catch((error) => {
        // TODO handle the error
        alert("Update failed: " + error);
      });
    });
